@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@500;700&display=swap');

// font-family: 'Lora', serif;
// font-family: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

$myFont: 'Montserrat', sans-serif;
$Logo: 'Lora', serif;
$mainAccent: rgb(48,151,64);

body {
    font-family: $myFont;
}

a {
    text-decoration: none;
    color: black;
}
#close {
    cursor: pointer;
}
#open {
    position: fixed;
}

//HERO CONTAINER -->

.hero-container {
    background: url('img/heroimage.jpg');
    background-size: cover;
    background-position: center;
    background-color: pink;
    height: 100vh;
    margin-bottom: 100vh;
    padding: 1em;
    position: relative;
    
}
.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.above-overlay {
    // background-color: rgb(192, 232, 255);
    height: 100%;
    padding: 1em;
    position: relative;
    z-index: 2;
    .header {
        display: flex;
        justify-content: space-between;

        .logo {
            font-size: 32px;
            font-family: $Logo;
            color: white;
    
            span {
                color: $mainAccent;
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            width: 37px;
            height: 37px;
            position: fixed;
            right: 20px;
            a {
                color: $mainAccent;
            }
            i {
                color: white;
                font-size: 22px;
                cursor: pointer;
            }
        }

    }

    .nav {
        background-color: black;
        position: fixed;
        width: 280px;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1em 2em;
        transform: translateX(100%);
        transition: 250ms;

        .nav-header {
            display: flex;
            justify-content: space-between;
            padding: 2em 0em;
            color: white;

            span {
                color: $mainAccent;
                font-weight: bold;
                letter-spacing: 3px;
            }
        }
        .nav-links {
            list-style: none;
            color: white;

            .links {
                margin: 1em 0;
                font-size: 20px;

                a{
                    color: white;
                }
            }
        }

        p {
            color: rgb(88, 88, 88);
            margin: 50px 0;
            font-size: 14px;
            line-height: 1.5;

            span {
                color: rgb(187, 187, 187);
                cursor: pointer;
            }
        }
        i {
            color: rgb(95, 95, 95);
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .hero-body {
        // background-color: #fff;
        position: relative;
        height: 80%;
        text-align: center;
        .head {
            padding: 6em 5px 4em ;
            text-align: center;
            line-height: 1.4;
            font-weight: bold;
            color: rgb(219, 219, 219);
            span {
                color: #959595;
                font-weight: bold;
                letter-spacing: 1px;
            }

            .heading {
                font-size: 30px;
                margin-top: 20px;
            }
        }
        button {
            width: 280px;
            padding: 1em;
            background-color: black;
            border: 1px solid white;
            margin-bottom: 20px;
            a {
                color: white;
            }
        }

        .social-icons {
            color: white;
            font-size: 20px;
            i {
                margin-right: 10px;

            }
        }
        .scroll {
            position: absolute;
            color: white;
            bottom: -90px;
            right: 0;
            font-size: 12px;
            i {
                margin-right: 10px;
                color: $mainAccent;
                font-size: 17px;
            }
        }
    }
}