@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@500;700&display=swap');

// font-family: 'Lora', serif;
// font-family: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

$myFont: 'Montserrat', sans-serif;
$Logo: 'Lora', serif;
$mainAccent: rgb(48,151,64);

body {
    font-family: $myFont;
}

a {
    text-decoration: none;
    color: black;
}
#close {
    cursor: pointer;
}


//HERO CONTAINER -->

.hero-container {
    position: relative;
    background-color: black;
    height: 100vh;
    width: 100vw;
    background-image: url('img/heroimage.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 100vh;
    nav {
        width: 280px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        padding: 2em;
        z-index: 99;
        transform: translateX(100%);
        transition: 500ms;

        .nav-header {
            display: flex;
            flex-grow: 1;
            width: 100%;
            span {
                color: $mainAccent;
                font-weight: bold;
                letter-spacing: 3px;
                font-size: 14px;
                margin-right: auto;
            }
    
            i {
                color: white;
            }
        }
        .nav-links {
            list-style: none;
            margin: 50px 0;

            .links {

                a {
                    color: white;
                    font-size: 20px;
                }
                margin: 20px 0;
            }
        }
        p {
            font-size: 15px;
            color: rgb(77, 77, 77);

            span {
                color: rgb(153, 153, 153);
                cursor: pointer;
                transition: 250ms;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.6);
    }

    .above-overlay {
        position: relative;
        padding: 0 2em;
    }
    .logo {
        text-decoration: none;
        font-size: 30px;
        color: white;
        font-family: $Logo;
        span {
            color: $mainAccent;
            font-size: 55px;
        }
    }
    .right-header {
        font-family: $myFont;
        font-family: 30px;
        letter-spacing: 4px;
        font-weight: 700;
        display: flex;
        align-self: center;
        justify-content: center;
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: black;
        padding: 5px 7px;

        a{
            color: $mainAccent;
            margin-right: 20px;
            padding-top: 7px;
        }
        i {
            color: white;
            cursor: pointer;
        }
    }

    .hero-body {
        // margin: 100px 20px 200px 10px;
        color: white;
        line-height: 1.5;
        position: relative;

        .heading {
            font-size: 25px;
            margin-bottom: 20px;
        }
        button {
            padding: 1.2em;
            background-color: black;
            border: 1px solid white;
            width: 270px;
            margin-bottom: 20px;
            transition: 250ms;
            a {
                color: white;
                font-weight: bold;
                letter-spacing: 2px;
            }

            &:hover {
                background-color: #fff;
                a{
                    color: black;

                }
            }
        }

        span {
            color: rgb(129,133,134);
            font-weight: 700;
            letter-spacing: 3px;
        }

        .social-icons {
            position: absolute;
            left: 100%;
            top: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 20px;
            gap: 20px;
            transform: translateY(-50%);

            i {
                cursor: pointer;
                position: relative;
            }
        }
    }
}