@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#close {
  cursor: pointer;
}

#open {
  position: fixed;
}

.hero-container {
  background: url("img/heroimage.jpg");
  background-size: cover;
  background-position: center;
  background-color: pink;
  height: 100vh;
  padding: 1em;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.above-overlay {
  height: 100%;
  padding: 1em;
  position: relative;
  z-index: 2;
}

.above-overlay .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.above-overlay .header .logo {
  font-size: 32px;
  font-family: "Lora", serif;
  color: white;
}

.above-overlay .header .logo span {
  color: #309740;
}

.above-overlay .header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  width: 37px;
  height: 37px;
  position: fixed;
  right: 20px;
}

.above-overlay .header .right a {
  color: #309740;
}

.above-overlay .header .right i {
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.above-overlay .nav {
  background-color: black;
  position: fixed;
  width: 280px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em 2em;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 250ms;
  transition: 250ms;
  z-index: 9999;
}

.above-overlay .nav .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 0em;
  color: white;
}

.above-overlay .nav .nav-header span {
  color: #309740;
  font-weight: bold;
  letter-spacing: 3px;
}

.above-overlay .nav .nav-links {
  list-style: none;
  color: white;
}

.above-overlay .nav .nav-links .links {
  margin: 1em 0;
  font-size: 20px;
}

.above-overlay .nav .nav-links .links a {
  color: white;
}

.above-overlay .nav p {
  color: #585858;
  margin: 50px 0;
  font-size: 14px;
  line-height: 1.5;
}

.above-overlay .nav p span {
  color: #bbbbbb;
  cursor: pointer;
}

.above-overlay .nav i {
  color: #5f5f5f;
  margin-right: 10px;
  cursor: pointer;
}

.above-overlay .hero-body {
  position: relative;
  height: 80%;
  text-align: center;
}

.above-overlay .hero-body .head {
  padding: 6em 5px 4em;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
  color: #dbdbdb;
}

.above-overlay .hero-body .head span {
  color: #959595;
  font-weight: bold;
  letter-spacing: 1px;
}

.above-overlay .hero-body .head .heading {
  font-size: 30px;
  margin-top: 20px;
}

.above-overlay .hero-body button {
  width: 280px;
  padding: 1em;
  background-color: black;
  border: 1px solid white;
  margin-bottom: 20px;
}

.above-overlay .hero-body button a {
  color: white;
}

.above-overlay .hero-body .social-icons {
  color: white;
  font-size: 20px;
}

.above-overlay .hero-body .social-icons i {
  margin-right: 10px;
}

.above-overlay .hero-body .scroll {
  position: absolute;
  color: white;
  bottom: -90px;
  right: 0;
  font-size: 12px;
}

.above-overlay .hero-body .scroll i {
  margin-right: 10px;
  color: #309740;
  font-size: 17px;
}

#about {
  background-color: #3ed655;
  padding: 3em 1em;
  text-align: center;
}

#about .div1 {
  padding: 2em 0;
}

#about .div1 span {
  letter-spacing: 1px;
  font-weight: 700;
  color: black;
}

#about .div1 h1 {
  color: #f5fff6;
  font-size: 50px;
  font-weight: 700;
  margin: 15px;
}

#about .div2 {
  line-height: 1.5;
  color: #313131;
  padding: 0 1em;
  margin-bottom: 2em;
  font-size: 20px;
}

#about .div3 .stats {
  padding: 2em;
}

#about .div3 .stats .number {
  font-size: 60px;
  color: #f5fff6;
  margin-bottom: 1px;
}

#about .div3 .stats p {
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */