@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

#close {
  cursor: pointer;
}

#open {
  position: fixed;
}

.hero-container {
  background: url("img/heroimage.jpg");
  background-size: cover;
  background-position: center;
  background-color: pink;
  height: 100vh;
  padding: 1em;
  position: relative;
}

.hero-container .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.hero-container .above-overlay {
  height: 100%;
  padding: 1em;
  position: relative;
  z-index: 2;
}

.hero-container .above-overlay .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-container .above-overlay .header .logo {
  font-size: 32px;
  font-family: "Lora", serif;
  color: white;
}

.hero-container .above-overlay .header .logo span {
  color: #309740;
}

.hero-container .above-overlay .header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  width: 37px;
  height: 37px;
  position: fixed;
  right: 20px;
}

.hero-container .above-overlay .header .right a {
  color: #309740;
}

.hero-container .above-overlay .header .right i {
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.hero-container .above-overlay .nav {
  background-color: black;
  position: fixed;
  width: 280px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em 2em;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 250ms;
  transition: 250ms;
  z-index: 9999;
}

.hero-container .above-overlay .nav .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 0em;
  color: white;
}

.hero-container .above-overlay .nav .nav-header span {
  color: #309740;
  font-weight: bold;
  letter-spacing: 3px;
}

.hero-container .above-overlay .nav .nav-links {
  list-style: none;
  color: white;
}

.hero-container .above-overlay .nav .nav-links .links {
  margin: 1em 0;
  font-size: 20px;
}

.hero-container .above-overlay .nav .nav-links .links a {
  color: white;
}

.hero-container .above-overlay .nav p {
  color: #585858;
  margin: 50px 0;
  font-size: 14px;
  line-height: 1.5;
}

.hero-container .above-overlay .nav p span {
  color: #bbbbbb;
  cursor: pointer;
}

.hero-container .above-overlay .nav i {
  color: #5f5f5f;
  margin-right: 10px;
  cursor: pointer;
}

.hero-container .hero-body {
  position: relative;
  height: 80%;
  text-align: center;
}

.hero-container .hero-body .head {
  padding: 6em 5px 4em;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
  color: #f4fdf5;
}

.hero-container .hero-body .head span {
  color: #959595;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero-container .hero-body .head .heading {
  font-size: 30px;
  margin-top: 20px;
}

.hero-container .hero-body button {
  width: 280px;
  padding: 1em;
  background-color: black;
  border: 1px solid white;
  margin-bottom: 20px;
}

.hero-container .hero-body button a {
  color: white;
}

.hero-container .hero-body .social-icons {
  color: white;
  font-size: 20px;
}

.hero-container .hero-body .social-icons i {
  margin-right: 10px;
}

.hero-container .hero-body .scroll {
  position: absolute;
  color: white;
  bottom: -90px;
  right: 0;
  font-size: 12px;
}

.hero-container .hero-body .scroll i {
  margin-right: 10px;
  color: #309740;
  font-size: 17px;
}

#about {
  background-color: #3ed655;
  padding: 3em 1em;
  text-align: center;
}

#about .div1 {
  padding: 2em 0;
}

#about .div1 span {
  letter-spacing: 1px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}

#about .div1 h1 {
  color: #f4fdf5;
  font-size: 50px;
  font-weight: 700;
}

#about .div2 {
  line-height: 1.5;
  color: #313131;
  padding: 0 1em;
  margin-bottom: 2em;
  font-size: 20px;
}

#about .div3 .stats {
  padding: 2em;
}

#about .div3 .stats .number {
  font-size: 60px;
  color: #f4fdf5;
  margin-bottom: 1px;
}

#about .div3 .stats p {
  font-weight: 700;
}

#services {
  padding: 3em 1em;
  background-color: #f4fdf5;
  text-align: center;
}

#services .head span {
  color: #309740;
  font-weight: bold;
}

#services .head h1 {
  font-size: 35px;
  font-weight: 400;
  position: relative;
}

#services .head h1::after {
  content: '';
  width: 35%;
  height: 2px;
  margin: 0 auto;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #cfcfcf;
}

#services .tiles .tile {
  padding: 1em;
  line-height: 1.7;
  margin-top: 50px;
}

#services .tiles .tile i {
  color: #309740;
  font-size: 60px;
  margin-bottom: 20px;
}

#works {
  position: relative;
}

#works .black {
  height: 50vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  z-index: -1;
}

#works .data {
  text-align: center;
  padding: 6rem 2rem;
}

#works .data span {
  color: #309740;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

#works .data h1 {
  color: #f4fdf5;
  font-size: 35px;
}

#works .image-gallary {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
}

#works .image-gallary img {
  width: 100%;
  max-width: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  cursor: pointer;
  -webkit-transition: 250ms;
  transition: 250ms;
}

#works .image-gallary img:nth-of-type(1) {
  height: 500px;
}

#clients {
  background-color: #e6e6e6;
  padding: 6rem 0;
}

#clients .head {
  text-align: center;
  padding: 0 1em;
}

#clients .head span {
  color: #309740;
  font-weight: bold;
}

#clients .head h1 {
  font-size: 27px;
  font-weight: 400;
  margin-top: 10px;
}

#clients #wrapper {
  width: 80%;
  max-width: 964px;
  position: relative;
  margin: 50px auto;
  padding: 0 1em;
}

#clients #carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#clients #carousel::-webkit-scrollbar {
  height: 0;
}

#clients #prev,
#clients #next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#clients #prev {
  top: 50%;
  left: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: none;
}

#clients #next {
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#clients #content {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#clients .item {
  width: 100px;
  height: 100px;
}

#contact {
  background-image: url("img/contact-bg.jpg");
  padding: 6rem 0em 1rem 0;
  position: relative;
}

#contact .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#contact .above-overlay {
  position: relative;
  z-index: 1;
}

#contact .above-overlay .head {
  text-align: center;
  padding: 0 1em;
}

#contact .above-overlay .head span {
  color: #309740;
  font-weight: bold;
}

#contact .above-overlay .head h1 {
  font-size: 27px;
  font-weight: 400;
  margin-top: 10px;
  color: white;
}

#contact .above-overlay .form {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 50px 0;
  padding: 1em;
  text-align: center;
}

#contact .above-overlay .form form input {
  padding: 1em;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-bottom: 1px solid #9b9b9b;
  margin-bottom: 10px;
  color: white;
  outline: none;
}

#contact .above-overlay .form form input:focus {
  border-color: #309740;
}

#contact .above-overlay .form form button {
  background-color: #309740;
  width: 80%;
  padding: 1.2em 1em;
  color: white;
  letter-spacing: 1px;
  border: none;
  margin: 20px 0;
}

#contact .above-overlay .where {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

#contact .above-overlay .where .info {
  margin-bottom: 50px;
  line-height: 1.5;
}

#contact .above-overlay .where .info span {
  color: #309740;
}

#contact .above-overlay .where .info p {
  color: #8b8b8b;
}

#contact .above-overlay .where .social-icons {
  color: #f4fdf5;
}

#contact .above-overlay .where .social-icons i {
  margin-right: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  color: #888888;
}
/*# sourceMappingURL=style.css.map */